aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
Authlib
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
cryptography
dataclasses-json
exceptiongroup
fastapi
fastmcp
filelock
frozenlist
fsspec
git-filter-repo
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
greenlet
grpcio
grpcio-status
grpcio-tools
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
iniconfig
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mcp
mdurl
mpmath
multidict
mypy_extensions
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openapi-pydantic
orjson
outcome
packaging
pillow
pinecone
pinecone-client
pinecone-plugin-interface
playwright
pluggy
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
Pygments
pyparsing
PySocks
pytest
pytest-asyncio
pytest-socket
python-dateutil
python-dotenv
python-multipart
PyYAML
regex
requests
requests-toolbelt
rich
rsa
safetensors
scikit-learn
scipy
selenium
sentence-transformers
shellingham
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sse-starlette
starlette
sympy
syrupy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
trio
trio-websocket
triton
typer
typing-inspect
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
webdriver-manager
websocket-client
websockets
wsproto
yarl
zstandard